@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');


*,
*::before,
*::after {
  box-sizing: border-box;
}


body {
    font-family: "Noto Serif", serif;
    background-color: magenta;

}

#container {
    max-width: 80%;
    background-color: white;
    margin: 2rem auto; 

}

header h1 {
    padding: 1rem;
    font-family: "Inter", sans-serif;
}

main {
    background-color: yellow;
    padding: 2rem;
}


img {
    max-width: 100%;
}

p {
    max-width: 80ch;
}