body {
    background-color: magenta;

}

#container {
    max-width: 80%;
    background-color: white;
    margin: 2rem auto; 

}

header h1 {
    padding: 1rem;
}

main {
    background-color: yellow;
    padding: 2rem;
}


img {
    max-width: 100%;
}

p {
    max-width: 80ch;
}